:root {
    --main-color: #000000;
    --color-grey: rgb(196, 196, 196);
    --color-white: #ffffff;
    --grid-rows: 1;
}
@font-face { 
    font-family: "Comforter"; 
    src: url(../fonts/Comforter-Regular.ttf);
} 

/* *:not(#nav-wrapper) {
    border: red solid 2px;
} */
*::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--main-color);
    color: var(--color-white);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 15pt;
}
#nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0;
    align-items: center;
    background-color: rgba(196, 196, 196, 0.5);
    z-index: 100;
}
.nav.wrapper {
    height: 30px;
    float: right;
    /* border: var(--main-color) solid 2px; */
}
.search.wrapper {
    height: 35px;
    width: 100%;
}
h1 {
    display: inline;
    color:var(--main-color);
    font-size: 60pt;
    font-family: "Comforter"; 
    font-weight: 200;
    float: right;
    margin-top: -45px;
    margin-right: 10px;
}
@media (max-width: 690px) {
    #nav { 
        height: 170px;
        grid-template-columns: 1fr;
    }
    #big-table {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #card {
        width: 100px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    body {
        font-size: 25pt;
    }
    h1 {
        font-size: 90pt;
    }
}
#search {
    background-color: var(--main-color);
    height: 34px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    padding-left: 20px;
    color: var(--color-grey);
}

.pages {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 10pt;
}

.page, #last-info {
    border: var(--main-color) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

.page:hover, #last-info:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: 0.3s;
    cursor: pointer;
}

#last-info {
    padding: 0 10px;
    text-decoration: none;
    color: var(--color-white);
}
#big-table {
    display: table;
    width: 1200px;
    margin: 0 auto;
}
.card {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    background-color: rgba(196, 196, 196, 0.3);
    /* min-height: 0; */
}
.card.full {
    grid-auto-rows: 452px;

}
.card.full :nth-child(1) {
    overflow-y:auto;

}
.card{
    border-bottom: var(--main-color) 2px dashed;
}

#card-end {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    width: 100%;
}
#card-end .first-image {
    transform: rotateX(180deg);

}
#card-begin {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    width: 100%;
}
#first-info, #last-info {
    text-align: center;
    margin: auto;
}
.first-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

/* .info :not(:last-child) {
    padding: 20px 20px;
} */

.info div, .info h2 {
    text-align: center;
    margin-top: 20px;
}
.overview {
    margin: 0 30px;
    text-align: justify;
    text-justify: inter-word;
    /* overflow-y: scroll;
    height: 452px; */
}

.poster{
    margin-right:30px;
}
.img-load{
    text-align: right;
    position: relative;
    bottom: 300px;
    left: -30vw;
    z-index: -1;
}
.poster-image{
    background-image: url(../video/load.gif);
    background-size: 300px 452px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.3s;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -10;
    opacity: 0.2;
}
#error-message, #loading-message {
    text-align: center;
}
.hidden {
    opacity: 0;
}

.filtered {
    filter: blur(0.05em) saturate(1.7) contrast(1.5) brightness(0.8) grayscale(0.8);
    transition: 0.3s;
    
}
.filtered:hover {
    filter: none;
}

#foot {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    padding: 90px 0 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
#foot h3 {
    height: 100%;
    color:var(--color-white);
    font-size: 30pt;
    font-family: "Comforter"; 
    font-weight: 200;
    margin: 0 70px 0 40px ;
}
.stroke{
    transition: .3s;
    fill: rgba(196, 196, 196, 0.5);
  }

.stroke:hover {
    fill:#ffffff;
}