:root {
    --main-color: #000000;
    --color-grey: rgb(196, 196, 196);
    --color-white: #ffffff;
    --grid-rows: 1;
}
@font-face { 
    font-family: "Comforter"; 
    src: url(../fonts/Comforter-Regular.ttf);
} 

/* *:not(#nav-wrapper) {
    border: red solid 2px;
} */
*::-webkit-scrollbar {
    display: none;
}
body {
    background-color: var(--main-color);
    padding: 200px 40px;
    color: var(--color-white);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 24pt;
}
#nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "a b b";
    grid-gap: 0;
    align-items: center;
    background-color: rgba(196, 196, 196, 0.5);
}
.nav.wrapper {
    height: 30px;
    float: right;
    /* border: var(--main-color) solid 2px; */
}
.search.wrapper {
    height: 35px;
    width: 100%;
}
h1 {
    display: inline;
    color:var(--main-color);
    font-size: 60pt;
    font-family: "Comforter"; 
    font-weight: 200;
    float: right;
    margin-top: -45px;
    margin-right: 10px;
}
#search {
    background-color: var(--main-color);
    height: 34px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    padding-left: 20px;
    color: var(--color-grey);
}

#big-table {
    display: table;
    width: 1200px;
    margin: 0 auto;
}
.card {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    background-color: rgba(196, 196, 196, 0.3);
    /* min-height: 0; */
}
.card.full {
    grid-auto-rows: 452px;

}
.card.full :nth-child(1) {
    overflow-y:auto;

}
.card:not(:last-child) {
    border-bottom: var(--main-color) 2px dashed;
}

#card-end {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    width: 100%;
    transform: rotateX(180deg);
}
#card-begin {
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0;
    width: 100%;
}
#first-info {
    text-align: center;
}
.first-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.info {
    padding: 0 20px;
}
tbody .info {
    overflow-y: scroll;
    height: 452px;
}

.poster{
    margin-right:30px;
}
.img-load{
    text-align: right;
    position: relative;
    bottom: 300px;
    left: -30vw;
    z-index: -1;
}
.poster-image{
    background-image: url(../video/load.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    transition: 0.3s;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -10;
    opacity: 0.2;
}
#error-message {
    text-align: center;
}
.hidden {
    opacity: 0;
}